@charset "UTF-8";

:root {
    --cor0: #4A0F73;
    --cor1: #33107D; 
    --cor2: #161266; 
    --cor3: #0081ff; 
    --cor4: #0F3F73; 
    --cor5: #0000ff;
}

* {
    margin: 0px;
    padding: 0px; 
 }
body { 
    max-width: 1200px;
    min-width: 320px;
    background: 
    #161266 url(../imagem/cachoeira.jpg) center top no-repeat fixed;
}
conteirner {
    text-align: justify;
    background: 
    #161266 url(../imagem/cachoeira.jpg) center top no-repeat fixed;
}
h1 { 
    margin-top: 0px;
    font-weight: normal;
    background-color: var(--cor3);
    color: var(--cor5);
    padding: 5px 20px;
    text-align: center;
    text-shadow: 0px 5px 10px #4A0F73;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 2em;
}
conteudo { 
    background-color: #92c9ff;
}
p{
    max-width: 600px;
    background-color: #92c9ff;
    padding: 35px;
    margin: auto;
}